<div class="animated fadeInDown container_fluid aministrador_tabla_body">

      <!--- - - - - - - -!-->
      <!---      MODAL  !--->
      <!--- - - - - - - -!-->
      <!--- - - - - - - -!-->
      <div id="admin_popup">
        <center>
          <div class="overlay_popup">

          </div>
          <div  id="sistema_admin_agregar_ejercicio" data-id="">

            <center>
              <div class="banner_top">
                <h1 style="display:inline-block;">Nuevo Ejercicio</h1>
                <i id="cerrar_admi_agregar_ejer" style="display:inline-block;" class="fas fa-times-circle"></i>
              </div>
            </center>
            <div class="container">
              <div class="sistema_admi_boxes row">
                <div class="col">
                  <div>
                    <h5>CATEGORIA</h5>
                    <select name="" id="popup_select_categories">
                    <% @categories.each do |cat| %>
                      <option value="<%= cat.id %>"><%= cat.name %></option>
                    <% end %>
                    </select>
                  </div>
                </div>
                <div class="offset-2"></div>
              </div>
              <div class=" sistema_admi_boxes row">
                <div class="col">
                  <div>
                    <h5>NOMBRE DE EJERCICIO</h5>
                    <input id="sistema_admi_nombre_ejercicio_input" placeholder="Escribe el nombre aquí" type="text">
                  </div>
                </div>
              </div>
              <div class=" sistema_admi_boxes row">
                <div class="col">
                  <div>
                    <h5>DESCRIPCION</h5>
                    <textarea id="sistema_admi_descrip_ejercicio_input" placeholder="Escribe la descripción aquí" type="text"> </textarea>
                  </div>
                </div>
              </div>
              <div class=" sistema_admi_boxes row">
                <div class="col">
                  <div>
                    <h5>LINK DE VIDEO DE YOUTUBE DE EJERCICIO</h5>
                    <input id="sistema_admi_nombre_ejercicio_input" placeholder="Escribe el nombre aquí" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="admi_contenedor_upoload_ejercicio">
                  <input id="unpload_image" style="display:none;" type="file">
                  <label id="label_unpload" for="unpload_image"><i class="fas fa-file-upload"></i>Carga tu imagen</label>
                </div>
              </div>
              <div class="botones_acciones_box row">
                <div class="col">
                  <button class="btn_aceptar_nuevo_ejer">Agregar</button>
                  <button class="btn_cancelar_nuevo_ejer">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </center>

      </div>

    <!--- - - - - - - -!-->
    <!-- MENU  MOBIL !--->
    <!--- - - - - - - -!-->
    <!--- - - - - - - -!-->
    <div class="row menu_mobil">

      <div class="row" style="margin-left:15%;">
          <ul id="administrador_menu">
            <li class="active" style="color:#ff1d25;" >
              <p class="dropdown-toggle" id="dropdown_title" data-toggle="dropdown" >FUNDAMENTAL</p>
              <ul id="ul_categories" class="dropdown-menu" data-selected="1">
                <% @categories.each do |cat| %>
                  <li><p class="dropdown-item" id="<%= cat.id %>"><%= cat.name %></p></li>
                <% end %>
              </ul>
            </li>
          </ul>
      </div>

          <div class="row">
        <p class="administradores_ejercicios_totales"><%= @exercises.length %> EJERCICIOS TOTALES</p>
        </div>

      <div class="row">
        <div class="col-xs-4" style="margin-left:28%;">
          <i class="back_arrow_jugadores fas fa-arrow-alt-circle-left"></i>
        </div>

        <div class="col-xs-4">
          <i class="foward_arrow_jugadores fas fa-arrow-alt-circle-right"></i>
        </div>

        <div class="col-xs-4">
          <center><img src="/img/administrador_add@2x.png" width="35px" alt="" class="administrador_add"></center>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" id="administrador_searchbar">
          <label><input type="text" name="" value="search" placeholder="Buscar..." id="administrador_searchbar_look"></label>
        </div>
      </div>
    </div>


    <!--- - - - - - - -!-->
    <!---      MENU   !--->
    <!--- - - - - - - -!-->
    <!--- - - - - - - -!-->


    <div class="row menu_pc">
      <div class="col-sm-3">
        <ul id="administrador_menu" style="list-style: none; cursor:pointer;" >
          <li class="active" style="color:#ff1d25;" >
            <p class="dropdown-toggle" id="dropdown_title" data-toggle="dropdown" >FUNDAMENTAL</p>
            <ul id="ul_categories" class="dropdown-menu" data-selected="1">
              <% @categories.each do |cat| %>
                <li><p class="dropdown-item" id="<%= cat.id %>"><%= cat.name %></p></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>

      <div class="d-flex align-items-center col-sm-2">
        <p class="administradores_ejercicios_totales"><%= @exercises.length %> EJERCICIOS TOTALES</p>
      </div>
      <div class="col-sm-2" id="administrador_menu_botones">
        <i class="back_arrow_jugadores fas fa-arrow-alt-circle-left"></i>
        <i class="fordward_arrow_jugadores fas fa-arrow-alt-circle-right"></i>
      </div>
      <div class="col-sm-4" style="padding:0;">
        <input type="text" name="" placeholder="Buscar" id="filtro_jugadores">
        <i class="adminsearch fas fa-search"></i>
      </div>

      <div class="col-sm-1">
        <center><img class="administrador_add" src="/img/administrador_add@2x.png" width="35px" alt=""></center>
      </div>

    </div>

    <!--- - - - - - - -!-->
    <!--- TABLA PC  !--->
    <!--- - - - - - - -!-->
    <!--- - - - - - - -!-->
    <div class="row" style="margin-left:40px; margin-right:40px;">
        <table class="tabla_ejercicios table-striped table-hover">
          <thead>
            <tr id="tabla_titulos">
              <th>Nombre</th>
              <th>Descripcion</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @exercises.each do |exercise| %>
            <tr class="administrador_botones height_tr_admin" id="tr_hover" data-exercise="<%= exercise.id %>">
              <td class="admin_nombre"> <%= exercise.name %> </td>
              <td class="admin_descripcion"> <%= exercise.description %> </td>
              <td class="admin_botones_width">
                <div class="administrador_botones"> <img src="/img/circulos_icono.png" alt="" width="30px" class="administrador_puntos"></div>
              </td>
              <td class="administrador_botones admin_botones_width">
                <div class="administrador_botones"> <img src="/img/tacha_blanca.png" alt="" class="administrador_tacha"></div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </div>
