<div style="background-color:#191a1a;" class="col-12">
    <div class="row">
        <div class="col-12">
            <center><h1 id="titulo_creacion_usuario">Crear un nuevo usuario</h1></center>
        </div>
    </div>
    <%= form_for(:user, url: administrator_users_create_path()) do |f| %>
        <%= f.fields_for :user_information do |ui_fields| %>
            <div class="row">
                <div class="col-6">
                    <%= ui_fields.text_field :first_name, placeholder: 'Nombre', class: 'input_creacion_usuario' %>
                </div>
                <div class="col-6">
                    <%= ui_fields.text_field :last_name, placeholder: 'Apellido', class: 'input_creacion_usuario' %>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <%= f.email_field :email, placeholder: "Correo Electrónico", class: 'input_creacion_usuario' %>
                </div>
                <div class="col-6">
                    <%= f.password_field :password, placeholder: "Contraseña", class: 'input_creacion_usuario' %>
                </div>
            </div>
            <div class="row">
                               <div class="col-6">
                           <center> <h4 style="margin:25px 0; color:red; vertical-align:middle; font-family:lato; font-weight:bold;">Fecha de siguiente competencia</h4></center>
                    </div>
                <div class="col-6">
                    <%= ui_fields.date_field :next_competition, class: 'input_creacion_usuario', style: 'color:white;' %>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <select class="select_creacion_usuario" name="user[user_information][sport]">
                        <option>Deporte</option>
                        <option>Multi-deporte</option>
                        <option>Futbol Americano</option>
                        <option>Soccer</option>
                        <option>Baloncesto</option>
                        <option>Beisbol</option>
                        <option>Hockey</option>
                        <option>Hockeycpasto</option>
                        <option>Atletismo</option>
                        <option>Golf</option>
                        <option>Tennis</option>
                        <option>Tennis Country</option>
                        <option>Rugby</option>
                        <option>Lacrosse</option>
                        <option>Natación</option>
                        <option>Voleibol</option>
                        <option>Lucha Olímpica</option>
                        <option>Porras Y Baile</option>
                        <option>Ciclismo</option>
                        <option>Maratón</option>
                        <option>Correr</option>
                        <option>Triathlon</option>
                        <option>Handball</option>
                        <option>Carrera de Obstaculos</option>
                        <option>Waterpolo</option>
                    </select>
                </div>
                <div class="col-6">
                    <select class="select_creacion_usuario" name="user[user_information][position]">
                        <option>Posicion</option>
                        <option>Skill</option>
                        <option>Linea</option>
                        <option>Pateador</option>
                        <option>Mariscal de campo</option>
                        <option>Poste</option>
                        <option>Botador-Ala</option>
                        <option>Pitcher</option>
                        <option>Infield/Outfield</option>
                        <option>Portero</option>
                        <option>Campo</option>
                    </select>

                </div>


            </div>

              <div class="row">
                    <div class="col-6">
                           <center> <h4 style="margin:25px 0; color:red; vertical-align:middle; font-family:lato; font-weight:bold;">Plan de pago</h4></center>
                    </div>
                    <div class="col-6">
                        <select class="select_creacion_usuario">
                            <option>ELige el plan de pago:</option>
                            <option>Plan Mensual</option>
                            <option>PLan Trimestral</option>
                            <option>Plan Anual</option>
                        </select>
                    </div>
                </div>
                    <div class="row">
                    <div class="col-12">
                        <center><button id="btn_crear_usuario" onclick="loading()">Crear Usuario</button></center>
                    </div>
                </div>
        <% end %>
    <% end %>
</div>

<div id="fondo_negro"></div>
<script>
    function loading() {
        swal.showLoading();
    }
</script>