


<div class="subbanners_sistema_menu">
    <div style="background-color:#202020;" class="sistema_banner d-flex flex-row align-items-center">
        <div class="sistema_icono"></div>
        <h2>ANALÍTICOS</h2>
    </div>
</div>

<div class="sistema_db_container">
    <input type="hidden" id="hidden_show_modal_start" value="<%= @show_modal_test_days %>">
    <input type="hidden" id="hidden_show_modal_expired" value="<%= @show_modal_expired %>">
    <% if @trainer.present? %>
    <div id="contenedor_entrenador_institucion">
        <% if current_user.user_information.user_type_id != 3 %>
            <%= link_to url_for(:back) do %>
                <i class="regreso_dashboard animated zoomInUp far fa-arrow-alt-circle-left"></i>
            <% end %>
        <% end %>
        <center style="display:inline-block;" class='animated zoomInUp'><span>Tu entrenador es:</span><span class="entrenador_institucion">  <%= profile_trainer_name(@trainer) %></span></center>
    </div>
    <% end %>
        <div class=" animated zoomInUp sistema_db_info_superior d-flex justify-content-betweeen align-items-end">
            <div class="sistema_info_three_containers">
                <div class="d-flex flex-row align-items-end flex-wrap justify-content-center">
                    <div class="sistema_p_ejericios" class="d-flex flex-column">
                        <div class="sistema_d_entrenamientos">ENTRENAMIENTOS</div>
                        <div>COMPLETADOS</div>
                    </div>

                    <div id="sistemas_p_numero"> <%= @trainings_complete %> </div>
                    <div id="sistemas_p_numerogris"> /<%= @trainings %> </div>
                </div>
                <div>
                    <div class="progress">
                        <div class="progress-bar barra_entrenamientos" role="progressbar" aria-valuemin="50" aria-valuemax="100" style="width: <%= @training_width.to_s %>%;"></div>
                    </div>
                </div>
            </div>

            <div class="sistema_info_three_containers">

                <div class="d-flex flex-column">
                    <div class="sistema_p_etapa"> ETAPA <%= @user.user_information.stage_process %>/<%= @user.user_information.stage_count %></div>
                    <div class="sistema_p_etapanombre sistema_etapa"> <%= profile_stage_name(@user.user_information.stage_id) %> </div>
                    <div class="progress">
                        <div class="progress-bar" id="barra_etapa" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= @stage_width.to_s %>%;"></div>
                    </div>
                </div>

            </div>
            <div class="sistema_info_three_containers" style="margin-bottom:-.08vw;">
                    <div class="d-flex flex-column">
                        <div class="sistema_p_etapa"> TIEMPO RESTANTE:</div>
                        <div class="sistema_p_etapanombre"> <%= @trainings_unfinished %> DÍAS </div>
                        <div class="progress">
                            <div class="progress-bar" id="barra_etapa" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= @training_days_width.to_s %>%;"></div>
                        </div>
                    </div>


            </div>


    </div>

    <div style="justify-content:center;" class="animated zoomInUp db_contenedor_segundafila d-flex justify-content-between">

        <div  class="sistema_db_info_grafica d-flex flex-column justify-content-center">
            <% if @last_entries.blank? %>
                <center><div class="mensaje_overlay_graph">Al realizar tu primera prueba se activará tu graficá comparativa.</div></center>
            <% end %>
            <% if @last_entries.blank? %>
                <div class="overlay_graph"></div>
            <% end %>
            <select id="exercise_graph">
                <option value="171">Sprint</option>
                <option value="172">Salto Horizontal</option>
                <option value="173">Pro Agility</option>
                <option value="174">Sentadillas</option>
                <option value="175">Bench Press</option>
                <option value="176">Peso Muerto</option>
                <option value="177">Pull Ups</option>
                <option value="178">Lagartijas</option>
                <option value="179">Plancha</option>
            </select>
            <div class="line-chart">
                <div class="aspect-ratio" id="div_chart">
                    <canvas style="margin-top:30px;" width="100%" id="chart"></canvas>
                </div>
            </div>
        </div>

        <div style="position:relative; overflow:hidden;" class="animated zoomInUp sistema_db_info_tabla">

            <center>
                <% if @last_entries.blank? %>
                    <div class="mensaje_overlay_graph">Se activará tu tabla al tener una entrada.</div>
                <% end %>
            </center>

            <% if @last_entries.blank? %>
            <div class="overlay_graph"></div>
            <% end %>
            <div>
                <center>
                    <h1 style="font-size:1.5vw;">Entradas Recientes</h1>
                </center>
            </div>
            <table id="sistema_db_entradas">
                <tr>
                    <th>Ejercicio</th>
                    <th>Peso</th>
                    <th>Fecha</th>
                </tr>
                <% @last_entries.each do |entry| %>
                <tr>
                    <td><%= dashboard_exercise_name(entry.exercise_id) %></td>
                    <td><%= entry.result %></td>
                    <td><%= entry.created_at.strftime("%d/%m/%Y") %></td>
                </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>