<div class="subbanners_sistema_menu">
    <div style="background-color:#202020;" class="sistema_banner d-flex flex-row align-items-center">
        <div class="sistema_icono"></div>
        <h2>LISTA JUGADORES</h2>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <center><p class="cantidad_jugadores">Se muestran <%= @count_min.to_s %> jugadores de <%= @count_max.to_s %></p></center>
        </div>
        <div class="col-sm-12 col-lg-6 jugadores_controlador">
           <center>
            <div class="contenedor_acciones_controlador_jugadores">
                <i class="back_arrow_jugadores fas fa-arrow-alt-circle-left"></i>
                <i class="foward_arrow_jugadores  fas fa-arrow-alt-circle-right"></i>
                <input id="filtro_jugadores" placeholder="Buscar" type="text">
                <i class="fas fa-search"></i>
                <i class="add_jugadores fas fa-plus-circle"></i>
            </div>
           </center>
        </div>

    </div>
</div>


<div class="row d-flex flex-row justify-content-center">
    <div style="width: 80%;">
        <center>
            <div class="bounceIn contenedor_tabla_jugadores">
                <table id="tabla_lista_miembros">
                    <thead>
                        <tr>
                            <th>JUGADORES</th>
                            <th class="columna_eliminada">CORREO</th>
                            <th>POSICION</th>
                            <th class="columna_eliminada aliniar_contenido_tabla">FECHA INICIO</th>
                            <th class="aliniar_contenido_tabla">AJUSTES</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% @array.each do |player| %>
                          <tr class="row_hover" data-id="<%= player.id %>">

                              <td>
                                  <p class="nombre_jugador"><%= player.user_information.name %></p>
                                  <p class="escuela_jugador"><%= player.user_information.school %></p>
                              </td>
                              <td class="columna_eliminada">
                                  <p class="correos_jugadores"> <%= player.email %></p>
                              </td>
                              <td>
                                  <p class="posicion_jugadores"><%= player.user_information.position %></p>
                                  <p class="deporte_jugadores"><%= player.user_information.sport %></p>
                              </td>
                              <td class="columna_eliminada aliniar_contenido_tabla"><%= player.created_at.strftime("%d/%m/%Y") %></td>
                              <td class="aliniar_contenido_tabla iconos_ajustes_tabla_jugadores">
                                  <i class="fas fa-poll dashboard_jugador"></i>
                                  <i class="fas fa-user profile_jugador"></i>
                                  <i class="fas fa-trash-alt delete_jugador"></i>
                              </td>
                          </tr>
                        <% end %>
                    </tbody>

                </table>
            </div>
        </center>
    </div>
</div>