<div class="subbanners_sistema_menu">
    <div style="background-color:#202020;" class="sistema_banner d-flex flex-row align-items-center">
        <div class="sistema_icono"></div>
        <h2>PERFIL</h2>
    </div>
</div>
<div class="sistema_contenido d-flex">
    <input type="hidden" class="hidden_user" value="<%= @user.id %>">
    <div id="sistema_p_iz" class="d-flex flex-column justify-content-between">
        <div id="sistema_p_iz_arriba" class="d-flex align-items-center justify-content-around">
            <div class="sistema_p_imgcontainer">
                <div class="sistema_p_imgimg" style="background-image: url(<%= @user.user_information.img_url %>);"> </div>
                <div class="sistema_p_imgoverlay">
                    <div class="sistema_p_imgtext d-flex flex-column justify-content-center align-items-center">
                        <%= form_tag("/profiles/profile_image", method: "post", multipart: true) do %>
                            <%= file_field_tag(:img_url, class: "sistema_p_imgupload")  %>
                        <% end %>
                        <img src="img/upload.png" style="width: 40%; height: 40%; margin-bottom: 1vw;">
                        Cambiar imágen
                    </div>
                </div>
            </div>
            <div id="sistema_p_texto" class="d-flex flex-column">
                <div id="sistema_p_texto_titulo"><%= @user.user_information.name %></div>
                <div><i><%= @user.email %></i> </div>
                <div class="d-flex flex-row perfil_editable"> <b class="bold">Edad: </b> <div id="perfil_edad"></div><%= @age %> años </div>
                <div class="d-flex flex-row perfil_editable"> <b class="bold">Estatura: </b> <div id="perfil_altura"><%= @user.user_information.height %></div>   m </div>
                <div class="d-flex flex-row perfil_editable"> <b class="bold">Peso: </b> <div id="perfil_peso"><%= @user.user_information.weight %></div> kg</div>
            </div>
            <a href="#" class="sistema_p_editar">EDITAR</a>
        </div>
        <div id="sistema_p_iz_abajo" class="d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center">
                <div class="d-flex flex-row align-items-end">
                    <div id="sistema_p_ejericios" class="d-flex flex-column">
                        <div>ENTRENAMIENTOS</div>
                        <div>COMPLETADOS</div>
                    </div>
                    <div id="sistemas_p_numero"> <%= @trainings_complete %> </div>
                    <div id="sistemas_p_numerogris"> /<%= @trainings %>  </div>
                </div>
                <div>
                    <div class="progress">
                        <div class="progress-bar" id="barra_entrenamientos" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="sistema_lineadiv"></div>
            <div class="d-flex flex-column">
                <div id="sistema_p_etapa"> ETAPA <%= @user.user_information.stage_process %>/<%= @user.user_information.stage_count %></div>
                <div id="sistema_p_etapanombre"> <%= profile_stage_name(@user.user_information.stage_id) %> </div>
                <div class="progress">
                    <div class="progress-bar" id="barra_etapa" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= @stage_width.to_s %>%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="sistema_p_der" class="d-flex flex-column justify-content-around">
        <div class="d-flex flex-column">
        <% if @card.present? %>
            <% if @card.brand == "visa" %>
            <div><%= image_tag("visa", id: "sistema_p_creditoimg") %></div>
            <% elsif @card.brand == "mc" %>
            <div><%= image_tag("mastercard", id: "sistema_p_creditoimg") %></div>
            <% end %>
            <div id="sistema_p_numcredito">**** **** **** <%= @card.last_digits %></div>
            <div id="sistema_p_fechacredito" class="d-flex flex-row">
                <div class="d-flex flex-column">
                    <div> FECHA </div>
                    <div> CAD. </div>
                </div>
                <div id="sistema_p_fechacredito_cad"> <%= @card.exp_month %>/<%= @card.exp_year %> </div>
            </div>
        <% end %>
        <%= link_to "Cambiar forma de pago", accounts_path, class: "sistema_p_botoncredito align-self-center d-flex flex-column justify-content-center" %>
        </div>
        <div class="d-flex flex-column">
            <div class="d-flex flex-column">
                <div style="font-size: 2vw; font-weight:bold; margin-left: 1vw;"> Entrenador: </div>
                <div id="perfil_entrenador" style="margin-left: 1vw;"> No cuenta con entrenador </div>
            </div>
            <div class="sistema_p_botoncredito d-flex flex-column justify-content-center align-self-center" id="perfil_boton_entrenador"> Unirte a un entrenador</div>
        </div>
    </div>
</div>