<div class="subbanners_sistema_menu">
    <div style="background-color:#202020;" class="sistema_banner d-flex flex-row align-items-center">
        <div class="sistema_icono"></div>
        <h2>RUTINA</h2>
    </div>
</div>
<% if @restday %>
<div style="height:100vh;" class="sistema_contenido d-flex flex-row justify-content-center align-items-center">
        <div class="row descansa_movil" >
            <div class="bounceIn col-12 d-flex flex-column justify-content-center align-items-center">
                <center>
                    <img id="descansa_icono" src="img/pillow.png" alt="">
                </center>
                <center>
                    <p class="pillow_txt bounceIn">Hoy es día de descanso</p>
                </center>
            </div>
        </div>
    </div>
<% else %>
<!-- TABLA DE CAMBIOS -->
<div id="sistema_rutina_cambio_table" class="animated flex-column justify-content-center align-items-center">
    <div id="tabla_container">
        <table class="tabla_ejercicios table-striped table-hover" data-category="0">
            <thead>
                <tr id="tabla_titulos">
                    <th>EJERCICIO</th>
                    <th>SETS</th>
                    <th>DESCRIPCIÓN</th>
                    <th class="d-flex flex-row justify-content-end"> <div class="sistema_cancel_tabla_ejercicios"></div> </th>
                </tr>
            </thead>
            <tr id="tr_hover">
                <td > Lagartijas </td>
                <td> 3 sets de 15 repeticiones </td>
                <td colspan="2">Lorem itsum rem its ate m arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom arem itsum rem its atesom ausom au</td>
            </tr>
        </table>
    </div>
</div>
<div class="sistema_contenido d-flex flex-column">
    <input type="hidden" class="hidden_modal" value="<%= @mostrar_modal %>">
    <!-- INFORMACION DE EJERCICIO -->
    <div id="sistema_r_contenedorinfo" class="flex-column justify-content-center align-items-center">
        <div class="sistema_r_infoejercicio d-flex flex-column align-items-center">
            <div class="sistema_r_infoejercicio_nombre"> NOMBRE DE EJERCICIO </div>
            <div class="sistema_contenedor_textarea_rutina">

            <textarea class="sistema_r_infoejercicio_texto">

            </textarea>

             </div>
            <div class="sistema_r_infoejercicio_boton"> ENTENDIDO </div>
        </div>
    </div>
    <!-- ARRIBA -->
    <div class="d-flex flex-row justify-content-center align-items-center">
        <% @week_hash.each do |date| %>
            <% if date['day'] == 'LUNES' %>
            <div id="sistema_r_primerdia" class="sistema_r_dia flex-column justify-content-center <%= if date['active'] == 1 then "sistema_r_dia_activo" end %>">
                <div  class="sistema_r_dia_nombre"> <%= date['day'] %> </div>
                <div> <%= date['description'] %> </div>
            </div>
            <% elsif date['day'] == 'SABADO' %>
            <div id="sistema_r_ultimodia" class="sistema_r_dia flex-column justify-content-center <%= if date['active'] == 1 then "sistema_r_dia_activo" end %>">
                <div  class="sistema_r_dia_nombre"> <%= date['day'] %> </div>
                <div> <%= date['description'] %> </div>
            </div>
            <% else %>
            <div class="sistema_r_dia flex-column justify-content-center <%= if date['active'] == 1 then "sistema_r_dia_activo" end %>">
                <div class="sistema_r_dia_nombre"> <%= date['day'] %> </div>
                <div> <%= date['description'] %> </div>
            </div>
            <% end %>
        <% end %>
    </div>
    <% if !@mostrar_modal %>
    <!-- CENTRO -->
    <div class="sistema_r_contenedorejercicios d-flex justify-content-center">
        <!-- ANTERIOR -->
        <div id="flecha_anterior" class="sistema_r_centro_iz d-flex flex-column justify-content-center" style="<%= if @routine_finished then  "display:none !important;" end %>">
            <div id="sistema_r_siguiente"> ANTERIOR: </div>
            <div id="sistema_r_anteriorfase"><%= @previous %></div>
            <div id="sistema_r_anteriorarrow" class="d-flex flex-column justify-content-center align-items-center">
                <div class="sistema_r_anteriormovil">ANTERIOR:</div>
                <div class="sistema_r_anteriormovil"><%= @previous %></div>
            </div>
        </div>
        <!-- EJERCICIOS -->
        <% @hash.keys.each do |group| %>
            <div class="sistema_r_centro d-flex <%= if @hash[group]["show"] == 1 then "active" end %>" style="<%= if @hash[group]["show"] == 0 then "display: none !important" else "" end %>">
            <input type="hidden" class="hidden_group" value="<%= group %>">
            <% @hash[group]["exercises"].each do |exercise| %>
                <!-- EJERCICIO -->
                <div class="sistema_r_ejercicio d-flex <%= if exercise["done"] == 1 then "ejer_terminado" end %>">
                    <input type="hidden" class="hidden_exercise" value="<%= exercise['id'] %>" data-routine="<%= exercise['routine_exercise_id']%>">
                    <input type="hidden" class="hidden_exercise_description" value="<%= exercise['description'] %>">
                    <input type="hidden" class="hidden_exercise_test" value="<%= exercise['test'] %>">
                    <div class="sistema_r_ejercicio_arriba d-flex align-items-center flex-row justify-content-between">
                        <div class="sistema_r_tipoejercicio d-flex flex-column">
                            <div> <%= exercise['name'] %>  </div>
                            <div class="sistema_r_repeticionesmovil">
                                <% if @test %>
                                    <% if group == 1 %>
                                        <%= exercise["sets"] %> set de <%= exercise["reps"] %> reps.
                                    <% end %>
                                <% else %>
                                    <%= exercise["sets"] %> set de <%= exercise["reps"] %> reps.
                                <% end %>
                            </div>
                        </div>
                        <% if exercise["category_id"] != 1 %>
                        <div class="sistema_r_cambiaricono"> </div>
                        <% end %>
                        <% if exercise["done"] == 0 %>
                        <i class="checkmark_rutina fas fa-check"></i>
                        <% end %>
                    </div>
                    <div class="sistema_r_ejercicio_centro"></div>
                    <div class="sistema_r_ejercicio_abajo align-items-center flex-row justify-content-between">
                        <div class="sistema_r_nombreejercicio"> 
                            <% if @test %>
                                <% if group == 1 %>
                                    <%= exercise["sets"] %> set de <%= exercise["reps"] %> reps. 
                                <% end %>
                            <% else %>
                                <%= exercise["sets"] %> set de <%= exercise["reps"] %> reps. 
                            <% end %>
                        </div>

                        <div class="sistema_r_infoicono"> </div>
                    </div>
                </div>
            <% end %>
            </div>
        <% end %>

        <!-- SIG -->
        <div class="sistema_r_centro_der d-flex flex-column justify-content-center" style="<%= if @routine_finished then  "display:none !important;" end %>">
            <div id="sistema_r_siguiente"> SIGUIENTE: </div>
            <div id="sistema_r_siguientefase"><%= @next %></div>
            <div id="sistema_r_siguientearrow" class="d-flex flex-column justify-content-center align-items-center">
                <div class="sistema_r_siguientemovil">SIGUIENTE:</div>
                <div class="sistema_r_siguientemovil"><%= @next %></div>
            </div>
        </div>
        <div style="background-color: #191a1a; <%= if !@routine_finished then  "display:none !important;" end %>" class="container-fluid" id="rutina_finalizada">
            <div class="row">
                <div class="bounceIn col-12">
                    <center>
                        <img src="img/gym.png" alt="" id="img_rutina_finalizada" style="width: 350px;">
                    </center>
                    <center>
                        <p class="terminado_txt bounceIn">Haz terminado tu rutina</p>
                    </center>
                </div>
            </div>
        </div>
    </div>


        <!-- ABAJO -->
        <div class="sistema_r_abajo d-flex flex-column">
            <div id="sistema_r_abajo_arriba" class="d-flex flex-column">
                <div id="sistema_r_progreso"> PROGRESO: </div>
                <div id="sistema_r_progresonombre"><%= @progress_name %></div>
            </div>
            <div id="sistema_r_abajo_abajo" class="d-flex flex-row">
                <div id="sistema_r_warmup" class="d-flex flex-column">
                    <div class="progress">
                        <div class="progress-bar" id="barra_warmup" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= @warm_width.to_s %>%;"></div>
                    </div>
                    <div class="sistema_r_textobarra">WARM UP / PREHABS</div>
                </div>
                <div id="sistema_r_tricerie"  class="d-flex flex-column">
                    <div class="progress barra_activa">
                        <div class="progress-bar" id="barra_tricerie" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= @triserie_width.to_s %>%;"></div>
                    </div>
                    <div class="sistema_r_textobarra"> SERIES </div>
                </div>
                <div id="sistema_r_finishers" class="d-flex flex-column">
                    <div class="progress">
                        <div class="progress-bar" id="barra_finishers" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= @finisher_width.to_s %>%;"></div>
                    </div>
                    <div class="sistema_r_textobarra"> FINISHERS </div>
                </div>
            </div>
        </div>
    </div>

    <% end %>
</div>
<% end %>


<script>
        var tabla = $("#sistema_rutina_cambio_table");
        var info = $("#sistema_r_contenedorinfo");

        $('body').keydown(function(event) {
            if (event.which == 27) {
                tabla.css("display","none");
            };
        });

        $(".sistema_cancel_tabla_ejercicios").on("click", function(event){
            $(".sistema_contenido").css("overflow","auto");
            tabla.css("display","none");
            $(this).closest(".sistema_r_ejercicio").removeClass("change")
        });

        $(".sistema_r_infoicono").on("click", function(event){
            $(".sistema_r_infoejercicio_nombre").text($(this).closest(".sistema_r_ejercicio").find(".sistema_r_tipoejercicio").find("div:first").text())
            $(".sistema_r_infoejercicio_texto").text($(this).closest(".sistema_r_ejercicio").find(".hidden_exercise_description").val())
            info.css("display", "flex");
        });

        $(".sistema_r_infoejercicio_boton").on("click", function(event){
            $(this).parent().parent().css("display","none");
        });
</script>

<style>
    .pillow_txt {
        font-size: 4vw;
        color: white;
        font-family: lato;
        text-align: center;
        font-weight: bold;
        opacity: .5;
    }

    .terminado_txt {
        font-size: 4vw;
        color: white;
        font-family: lato;
        text-align: center;
        font-weight: bold;
    }

    .sistema_banner h2 {
        font-family: lato;
        font-weight: bold;
        color: white;
        text-shadow: 0 0 10px white;
        display: inline-block;
        margin-bottom: 0;
        padding-bottom: 8px;
        margin-left: .5vw;
    }

    .sistema_banner {
        display: block;
        width: 100%;
        height: 3.8vw;
        position: relative;
    }


    }


</style>