<div class="subbanners_sistema_menu">
    <div style="background-color:#3e3e3e;" class="sistema_banner"></div>
    <div style="background-color:#202020;" class="sistema_banner d-flex flex-row align-items-center">
        <div class="sistema_icono"></div>
        <h2>RUTINA</h2>
    </div>
</div>
<div class="sistema_contenido d-flex flex-column">
    <!-- ARRIBA -->
    <div class="d-flex flex-row justify-content-center align-items-center">
        <% @week_hash.each do |date| %>
            <% if date['day'] == 'LUNES' %>
            <div id="sistema_r_primerdia" class="sistema_r_dia flex-column justify-content-center <%= if date['active'] == 1 then "sistema_r_dia_activo" end %>">
                <div  class="sistema_r_dia_nombre"> <%= date['day'] %> </div>
                <div> <%= date['description'] %> </div>
            </div>
            <% elsif date['day'] == 'VIERNES' %>
            <div id="sistema_r_ultimodia" class="sistema_r_dia flex-column justify-content-center <%= if date['active'] == 1 then "sistema_r_dia_activo" end %>">
                <div  class="sistema_r_dia_nombre"> <%= date['day'] %> </div>
                <div> <%= date['description'] %> </div>
            </div>
            <% else %>
            <div class="sistema_r_dia flex-column justify-content-center <%= if date['active'] == 1 then "sistema_r_dia_activo" end %>">
                <div class="sistema_r_dia_nombre"> <%= date['day'] %> </div>
                <div> <%= date['description'] %> </div>
            </div>
            <% end %>
        <% end %>    
    </div>
    <!-- CENTRO -->
    <div class="sistema_r_contenedorejercicios d-flex">
        <!-- EJERCICIOS -->
        <div class="sistema_r_centro_iz d-flex">
            <!-- EJERCICIO -->
            <div class="sistema_r_ejercicio d-flex">
                <div class="sistema_r_ejercicio_arriba d-flex align-items-center flex-row justify-content-between">
                    <div class="sistema_r_tipoejercicio d-flex flex-column"> 
                        <div> HALF KNEE STRETCH  </div>
                        <div class="sistema_r_repeticionesmovil"> 2 repeticiones de 175 lbs. </div>
                    </div>
                    <div class="sistema_r_cambiaricono"> </div>
                </div>
                <div class="sistema_r_ejercicio_centro"></div>
                <div class="sistema_r_ejercicio_abajo align-items-center flex-row justify-content-between">
                    <div class="sistema_r_nombreejercicio"> 2 repeticiones de 175 lbs. </div>
                    <div class="sistema_r_infoicono"> </div>
                </div>
            </div>
            <!-- EJERCICIO -->
            <div class="sistema_r_ejercicio d-flex">
                    <div class="sistema_r_ejercicio_arriba d-flex align-items-center flex-row justify-content-between">
                        <div class="sistema_r_tipoejercicio d-flex flex-column"> 
                            <div> HALF KNEE STRETCH  </div>
                            <div class="sistema_r_repeticionesmovil"> 2 repeticiones de 175 lbs. </div>
                        </div>
                        <div class="sistema_r_cambiaricono"> </div>
                    </div>
                    <div class="sistema_r_ejercicio_centro"></div>
                    <div class="sistema_r_ejercicio_abajo align-items-center flex-row justify-content-between">
                        <div class="sistema_r_nombreejercicio"> 2 repeticiones de 175 lbs. </div>
                        <div class="sistema_r_infoicono"> </div>
                    </div>
                </div>
                <!-- EJERCICIO -->
            <div class="sistema_r_ejercicio d-flex">
                    <div class="sistema_r_ejercicio_arriba d-flex align-items-center flex-row justify-content-between">
                        <div class="sistema_r_tipoejercicio d-flex flex-column"> 
                            <div> HALF KNEE STRETCH  </div>
                            <div class="sistema_r_repeticionesmovil"> 2 repeticiones de 175 lbs. </div>
                        </div>
                        <div class="sistema_r_cambiaricono"> </div>
                    </div>
                    <div class="sistema_r_ejercicio_centro"></div>
                    <div class="sistema_r_ejercicio_abajo align-items-center flex-row justify-content-between">
                        <div class="sistema_r_nombreejercicio"> 2 repeticiones de 175 lbs. </div>
                        <div class="sistema_r_infoicono"> </div>
                    </div>
                </div>
                
        </div>
        
        

        <!-- SIG -->
        <div class="sistema_r_centro_der d-flex flex-column justify-content-center">
            <div id="sistema_r_siguiente"> SIGUIENTE: </div>
            <div id="sistema_r_siguientefase"> FINISHERS </div>
            <div id="sistema_r_siguientearrow" class="d-flex flex-column justify-content-center align-items-center">
                <div class="sistema_r_siguientemovil">SIGUIENTE:</div>
                <div class="sistema_r_siguientemovil">PREHABS</div>
            </div>
        </div>
    </div>
    <!-- ABAJO -->
    <div class="sistema_r_abajo d-flex flex-column">
        <div id="sistema_r_abajo_arriba" class="d-flex flex-column">
            <div id="sistema_r_progreso"> PROGRESO: </div>
            <div id="sistema_r_progresonombre"> TRICERIE #1 </div>
        </div>
        <div id="sistema_r_abajo_abajo" class="d-flex flex-row">
            <div id="sistema_r_warmup" class="d-flex flex-column">
                <div class="progress">
                    <div class="progress-bar" id="barra_warmup" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="sistema_r_textobarra">WARM UP / PREHABS</div>
            </div>
            <div id="sistema_r_tricerie"  class="d-flex flex-column">
                <div class="progress barra_activa">
                    <div class="progress-bar" id="barra_tricerie" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="sistema_r_textobarra"> TRICERIES </div>
            </div>
            <div id="sistema_r_finishers" class="d-flex flex-column">
                <div class="progress">
                    <div class="progress-bar" id="barra_finishers" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="sistema_r_textobarra"> FINISHERS </div>
            </div>
        </div>
    </div>
</div>

<script>
        var tabla = $("#sistema_rutina_cambio_table");
        var info = $("#sistema_r_contenedorinfo");

        $('body').keydown(function(event) {
            if (event.which == 27) {
                tabla.css("display","none");
            };

        });

        $(".sistema_cancel_tabla_ejercicios").on("click", function(event){
            tabla.css("display","none");
        });
        $(".sistema_r_cambiaricono").on("click", function(event){
            tabla.css("display","flex");
        });
        $(".sistema_r_infoicono").on("click", function(event){
            info.css("display", "flex");
        });
        $(".sistema_r_infoejercicio_boton").on("click", function(event){
            $(this).parent().parent().css("display","none");
        });

        $("td").on("click", function(event){
            swal({
                title: '¿Quieres este ejercicio?',
                text: "El ejercicio elegido reemplazará al ejercicio original",
                type: 'warning',
                showCancelButton: true,
                background: '#e5e5e5',
                confirmButtonColor: '#fff',
                cancelButtonColor: '#ff1d25',
                cancelButtonText: 'No',
                confirmButtonText: 'Sí',
                showCloseButton: true
                }).then((result) => {
                if (result.value) {
                    swal(
                    'Exito',
                    'Tu rutina ha sido modificada',
                    'success',
                    tabla.css("display","none")
                    )
                }
            });
        });

        
</script>

<style>
    .subbanners_sistema_menu {
        width: 100%;
    }
    
    .sistema_banner h2 {
        font-family: lato;
        font-weight: bold;
        color: white;
        text-shadow: 0 0 10px white;
        display: inline-block;
        margin-bottom: 0;
        padding-bottom: 8px;
        margin-left: .5vw;
    }
    
    .sistema_banner {
        display: block;
        width: 100%;
        height: 3.8vw;
        position: relative;
    }
    
    .sistema_container {
        display: inline-block;
        position: relative;
        float: right;
        height: 100vh;
        width: 95%;
        background-color: #191a1a;
        transition: all .5s;
    }

    .sistema_container_reduce {
        width: 80% !important;
    }

    @media (max-width: 1090px) { 
        .sistema_container {
        height: auto;
        }
    }
    

</style>