<div class="container-fluid">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:novalidate => 'novalidate'}) do |f| %>
    <div id="contenedor_registro" class="animated bounceInDown row">
        <div class="col-lg-3"></div>
        <div id="registro_modal" class="col-sm-12 col-lg-6">

            <!-- Cierre de Modal -->
            <i id="registro_close" class="fas fa-times-circle"></i>
            <!-- End Cierre de mdoal -->

            <div style="z-index:-10;" class="col-12">
                <center>
                    <%= image_tag("Logo-01.png", class: "registro_imagen_logo animated bounceInDown" ) %>
                </center>
            </div>
            <div class="col-12">
                <center>
                    <h1 id="registro_titulo" class="animated bounceInDown">REGISTRO</h1>
                    <hr class="animated bounceIn" style="animation-delay:1s;  border:1px solid red; width: 50%;">
                </center>
            </div>
            
              <div class="input_container animated bounceIn col-lg-12">
                <center>
                    <%= image_tag("User-01.png") %>
                    <%= f.email_field :email, placeholder: "Correo Electrónico" %>
                </center>
              </div>

              <div class="input_container animated bounceIn col-lg-12">
                <center>
                    <%= image_tag("lock.png") %>
                    <%= f.password_field :password, placeholder: "Contraseña" %>
                </center>
            </div>

            <div class="input_container animated bounceIn col-lg-12">
                <center>
                    <%= image_tag("lock.png", style: "opacity:.5;" ) %>
                    <%= f.password_field :password_confirmation, placeholder: "Contraseña" %>
                </center>
            </div>

            <div class="col-12">
                <center><button id="registro_btn" class="animated bounceInDown">Continuar</button></center>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
        <%= f.fields_for :user_information do |ui_fields| %>
        <div id="div_datos_personales" class="animated bounceInRight row" style="display: none">
            <div class="col-lg-3"></div>
            <div id="IP_modal" class="col-sm-12 col-lg-6">
                <div class="container-fluid">
                    <div style="margin:25px 0;" class="row">
                        <div class="col-12">
                            <center>
                                <h1 id="IP_titulo" class="animated bounceIn">Información Personal</h1>
                            </center>
                        </div>


                    </div>
                    <div id="FPago_full_container">
                        <div class="row">
                            <div class="DP_input col-lg-12 col-md-12">
                                <div id="input_box_nombre" class="input_box_tutor  animated bounceIn">
                                    <i class="far fa-id-badge"></i>
                                    <%= ui_fields.text_field :first_name, placeholder: 'Nombres', id: 'IP_nombre' %>
                                </div>
                            </div>

                        </div>
                        <div class="row ">
                            <div class="DP_input col-lg-12 col-md-12">
                                <div id="input_box_apellido" class="input_box_tutor animated bounceIn">
                                    <i class="far fa-id-badge"></i>
                                    <%= ui_fields.text_field :last_name, placeholder: 'Apellidos', id: 'IP_apellido' %>
                                </div>
                            </div>

                        </div>
                        <div class="row ">
                            <div class="DP_input col-lg-6 col-md-6">
                                <div id="input_box_exp" class="input_box_ano animated bounceIn">
                                    <i class="far fa-calendar-alt"></i>
                                    <%= ui_fields.select :experience, options_for_select([['Experiencia', 'vacio'],['Novato', 'novato'],['Experimentado', 'experimentado'], ['Atleta', 'atleta']]), {}, { :id => 'IP_Experiencia' } %>
                                </div>
                            </div>
                            <div class="DP_input col-lg-6 col-md-6">
                                <div id="input_box_gen" class="input_box_ano animated bounceIn">
                                    <i class="far fa-calendar-alt"></i>
                                    <%= ui_fields.select :genre, options_for_select([['Género', 'vacio'],['Hombre', 'H'],['Mujer', 'M']]), {}, { :id => 'IP_genero' } %>
                                </div>
                            </div>
                        </div>


                        <div class="row ">
                            <div class="DP_input col-lg-6 col-md-6">
                                <div id="input_box_peso" class="input_box_tutor animated bounceIn">
                                    <i class="far fa-id-badge"></i>
                                    <%= ui_fields.text_field :weight, placeholder: 'Peso', id: 'IP_peso', onkeypress: 'return event.charCode >= 48 && event.charCode <= 57;' %>
                                </div>
                            </div>
                            <div class="DP_input col-lg-6 col-md-6">
                                <div id="input_box_estatura" class="input_box_ano animated bounceIn">
                                    <i class="far fa-calendar-alt "></i>
                                    <%= ui_fields.select :height, options_for_select(@heights), {}, { :id => 'IP_Estatura' } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 ">
                    <center>
                        <button id="IP_btn" class="animated bounceIn">Continuar</button>
                    </center>
                </div>
            </div>
            <div class="col-lg-3 "></div>
        </div>

        <div id="div_informacion_deportiva" class="animated bounceInRight row" style='display: none'>
            <div class="col-lg-3"></div>
            <div id="IDep_modal" class="col-sm-12 col-lg-6">
                <!-- Cierre de Modal -->
                <i id="IDep_close" class="fas fa-times-circle"></i>
                <!-- End Cierre de mdoal -->

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <center>
                                <h1 class="IDep_titulo">Datos Deportivos</h1>
                            </center>
                        </div>


                        <div class="IDep_input col-lg-6 col-md-6">
                            <div class="input_box IDep_deporte_box animated bounceIn">
                                <%= image_tag("ID_icono-03.png", style: " margin: 10px;width:40px" ) %>
                                <%= ui_fields.select :sport, options_for_select([['Deporte', 'vacio'],['Hombre', 'H'],['Mujer', 'M']]), {}, { :style => 'border:none;' } %>
                            </div>
                        </div>

                        <div class="IDep_input col-lg-6 col-md-6">
                            <div class="input_box IDep_posicion_box animated bounceIn">
                                <%= image_tag("ID_icono-02.png", style: " margin: 10px;width:30px" ) %>
                                <%= ui_fields.select :position, options_for_select([['Posiciones', 'vacio'],['1.40m', '140'],['1.50m', '150']]), {}, { :style => 'border:none;' } %>
                            </div>
                        </div>

                        <div class="IDep_input col-lg-6 col-md-6">
                            <div class="input_box IDep_lesion_box animated bounceIn">
                                <%= image_tag("ID_icono-04.png", style: " margin: 10px;width:30px" ) %>
                                <%= ui_fields.select :history_injuries, options_for_select([['Lesiones', 'vacio'],['Tiron', 'tiron'],['Desgarre', 'desgarre']]), {}, { :style => 'border:none;' } %>
                            </div>
                        </div>
                        <div class="IDep_input col-lg-6 col-md-6">
                            <div class="input_box IDep_exp_box animated bounceIn">
                                <%= image_tag("ID_icono-01.png", style: " margin: 10px;width:30px" ) %>
                                <%= ui_fields.select :experience, options_for_select([['Experiencia', 'vacio'],['Novato', 'novato'],['Experimentado', 'experimentado'], ['Atleta', 'atleta']]), {}, { :style => 'border:none;' } %>
                            </div>
                        </div>
                        <div class="Prox_Competencia animated bounceIn col-lg-6 col-md-6">
                            <center>
                                <h3>Próxima Competencia</h3>
                            </center>
                        </div>
                        <div class="IDep_input col-lg-6 col-md-6">
                            <div class="input_box IDep_date_competencia animated bounceIn">
                                <%= ui_fields.date_field :next_competition, style: 'border:none;' %>
                            </div>
                        </div>

                        <div style="animation-delay:.5s;" class="col-lg-12 animated bounceIn">
                            <center>
                                <h5 style="color:#3e3e3e; font-weight: lighter;">Favor de <b>consultar a su médico</b> antes de comenzar la rutina.</h5>
                            </center>
                        </div>
                        <div class="col-lg-12">
                            <center><button id="IDep_btn" class="animated bounceIn">Continuar</button></center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>

        <div id="div_metas_objetivos" class="animated bounceInRight row" style='display: none'>
            <div class="col-lg-2"></div>
                <div id="metas_objetivos_modal" class="col-sm-12 col-lg-8">
                    <div class="col-lg-12">

                        <!-- Cierre de Modal -->
                        <center>
                            <h1 class="Titulo_seccion">Sistema de Seguimiento</h1>
                            <i id="metas_objetivos_close" class="fas fa-times-circle"></i>
                        </center>


                        <!-- End Cierre de mdoal -->
                    </div>

                    <div style="margin:45px 0;" class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="contenedor_metas">

                                    <form class="form_metas">

                                        <center>
                                            <h2 class="titulos_seguimiento">Objetivo</h2>
                                        </center>
                                        <center>
                                            <p class="subtitulos_seguimiento">Lorem ipsum dolor sit amet consectetur adipiscing elit, vivamus molestie purus accumsan ac id felis, convallis elementum dictum aliquam tincidunt sed</p>
                                        </center>
                                        <div class="inputGroup">
                                            <input id="option1" name="option1" type="checkbox" />
                                            <label for="option1">Meta #1</label>
                                        </div>

                                        <div class="inputGroup">
                                            <input id="option2" name="option2" type="checkbox" />
                                            <label for="option2">Meta #2</label>
                                        </div>

                                        <div class="inputGroup">
                                            <input id="option3" name="option3" type="checkbox" />
                                            <label for="option3">Meta #3</label>
                                        </div>

                                        <div class="inputGroup">
                                            <input id="option4" name="option4" type="checkbox" />
                                            <label for="option4">Meta #4</label>
                                        </div>

                                        <div class="inputGroup">
                                            <input id="option5" name="option5" type="checkbox" />
                                            <label for="option5">Meta #5</label>
                                        </div>

                                        <div class="inputGroup">
                                            <input id="option6" name="option6" type="checkbox" />
                                            <label for="option6">Meta #6</label>
                                        </div>

                                    </form>

                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="contenedor_objetivo">

                                    <form class="form_objetivo">

                                        <center>
                                            <h2 class="titulos_seguimiento">Metas</h2>
                                        </center>
                                        <center>
                                            <p class="subtitulos_seguimiento">Lorem ipsum dolor sit amet consectetur adipiscing elit, vivamus molestie purus accumsan ac id felis, convallis elementum dictum aliquam tincidunt sed</p>
                                        </center>
                                        <div class="inputGroup">
                                            <input id="option_obj1" name="option1" type="checkbox" />
                                            <label for="option_obj1">Objetivo #1</label>
                                        </div>

                                        <div class="inputGroup">
                                            <input id="option_obj2" name="option2" type="checkbox" />
                                            <label for="option_obj2">Objetivo #2</label>
                                        </div>

                                        <div class="inputGroup">
                                            <input id="option_obj3" name="option3" type="checkbox" />
                                            <label for="option_obj3">Objetivo #3</label>
                                        </div>

                                        <div class="inputGroup">
                                            <input id="option_obj4" name="option4" type="checkbox" />
                                            <label for="option_obj4">Objetivo #4</label>
                                        </div>

                                        <div class="inputGroup">
                                            <input id="option_obj5" name="option5" type="checkbox" />
                                            <label for="option_obj5">Objetivo #5</label>
                                        </div>

                                        <div class="inputGroup">
                                            <input id="option_obj6" name="option6" type="checkbox" />
                                            <label for="option_obj6">Objetivo #6</label>
                                        </div>

                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <center>
                                    <button id="metas_objetivos_btn">Registrarme</button>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2"></div>
        </div>
        <% end %>
    <% end %>
</div>


<style>
.registro_sweetalert{
    background-color:#b52434 !important;
    border-radius:0px !important;
}
</style>