<div id="contenedor_login" class="animated bounceInDown row" style="display: none;top: 10%;left: 25%;z-index: 10;">
  <div class="col-lg-3"></div>
  <div id="login_modal" class="col-sm-12 col-lg-6">

      <!-- Cierre de Modal -->
      <i id="login_close" class="fas fa-times-circle"></i>
      <!-- End Cierre de mdoal -->

      <div style="z-index:-10;" class="col-12">
          <center>
              <img class="login_imagen_logo animated bounceInDown" src="/assets/Logo-01-454577c1bce8c680b8c2bff11821cf5cae2e034a954e17bb79cfaf7e370d486a.png" alt="Logo 01">
          </center>
      </div>
      <div class="col-12">
          <center>
              <h1 id="login_titulo" class="animated bounceInDown">INICIA SESIÓN</h1>
              <hr class="animated bounceIn" style="animation-delay:1s;  border:1px solid red; width: 50%;">
          </center>
      </div>
      <%= form_for(:user, url: session_path(:user)) do |f| %>
          <div class="input_container animated bounceIn col-lg-12">
              <center>
                  <%= image_tag("User-01.png") %>
                  <%= f.email_field :email, placeholder: "Correo Electrónico" %>
              </center>
          </div>

          <div class="input_container animated bounceIn col-lg-12">
              <center>
                  <%= image_tag("lock.png") %>
                  <%= f.password_field :password, placeholder: "Contraseña" %>
              </center>
          </div>

          <div class="col-12">
              <center><button id="login_btn" class="animated bounceInDown">ENTRAR</button></center>
          </div>
      <% end %>
      <%= render "devise/shared/links" %>
      <%= link_to "Terminos y Condiciones", "https://mentalidadimpact.com/terminos.html",:class=> 'links_ventana_login' %>
  </div>
</div>