<!DOCTYPE html>
<html>
  <head>
    <title>Impact Mentality</title>
    <%= csrf_meta_tags %>

    <!-- Lastest Jquery -->

    <script type="text/javascript" src="https://cdn.conekta.io/js/latest/conekta.js"></script>


    <!-- Typography -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">


    <!-- Latest compiled and minified JavaScript -->

    <!-- Lastest Icons Library -->
    

    <!-- SweetAlert -->
    <!-- Metas -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,700,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!---    SCRIPTS  ---->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.2/dist/sweetalert2.all.min.js"></script>

    <%= stylesheet_link_tag    'administrator', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'administrator', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <!-- Menu Cellphone -->
    <div class="sistema_mobile_menu">
        <!-- Just an image -->
        <nav class="navbar navbar-light bg-dark">
            <img class="burger_menu_mobile" src="img/hamburger-icon.png" width='25' height="25" alt="">
            <span class="titulo_mobile_header" style="">ADMINISTRADOR</span>
            <a class="navbar-brand" href="#">
                    <img src="img/ImpactMentalityIcon-01.png" width="30" height="30" alt="">
            </a>
            
        </nav>
        <ul id="menu_mobile_desplegado">
            <li>
                <%= link_to image_tag("ImpactMentalityIcon-01", class: "sistema_menu_icono", width: "60px", id: "usuarios" ), administrator_users_path, class: "nav-item nav-link header_link"  %>
                <a href="#" class="nav-item nav-link header_link"> <img class="sistema_menu_icono" id="usuarios" src="img/icon.png">USUARIOS</a>
            </li>
            <li>
                <a href="#" class="nav-item nav-link header_link"> <img class="sistema_menu_icono" id="ejercicios" src="img/icon.png">EJERCICIOS</a>
            </li>
            <li>
                <a href="#" class="nav-item nav-link header_login align-self-center d-flex justify-content-center" id="sistema_cerrar"><p class="align-self-center">CERRAR SESIÓN</p></a>
            </li>
        </ul>
    </div>

    <!-- Menu Cellphone END  -->


    <!-- Menu desktop -->
    <div class="menuHorizontal flex-row align-items-center">
        <div id="menuH_logo"></div>
        <div id="menuH_admin"> ADMINISTRADOR </div>
        <%= link_to administrator_users_path, style: "text-decoration: none; color: whitec" do %> 
            <div class="menuH_items" id="menu_usuarios">USUARIOS</div>
        <% end %>
        <%= link_to administrator_exercises_path, style: "text-decoration: none; color: whitec" do %> 
            <div class="menuH_items" id="menu_ejercicios">EJERCICIOS</div>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete, class: "nav-item nav-link admin_cerrar d-flex justify-content-center" do %> 
            <p class="align-self-center"> CERRAR SESIÓN </p>
        <% end %>
    </div>
    <!--  END MENU desktop -->
        <div class="sistema_container d-flex flex-column">
        <div class="sistema_contenido d-flex">
          <%= insert_paloma_hook %>
        </div>
        </div>
    <%= yield %>
  </body>

  <script>
    $(document).ready(function(){
      Paloma.start();
    });
  </script>
</html>
