<!DOCTYPE html>
<html>
  <head>
    <title>Impact Mentality</title>
    <%= csrf_meta_tags %>

    <!-- Lastest Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.conekta.io/js/latest/conekta.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->
    <%# <link rel="stylesheet" href="../css libraries/animate.css"> %>

    <!-- Latest compiled and minified CSS -->

    <!-- Typography -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->

    <!-- Lastest Icons Library -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.12/dist/sweetalert2.all.min.js"></script>
    <!-- Chart JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <!-- Metas -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>

  <body>
    <!-- Menu Cellphone -->
    <div class="sistema_mobile_menu">
        <!-- Just an image -->
        <nav class="navbar navbar-light bg-dark">
            <a class="navbar-brand" href="#">
                <%= image_tag("ImpactMentalityIcon-01", style: "height: 30px; width:30px;" ) %>
            </a>
            <span class="titulo_mobile_header" style="">LISTA DE EJERCICIOS</span>
            <%= image_tag("hamburger-icon", class: "burger_menu_mobile", width: "25px", height: "25px" ) %>
        </nav>
        <ul id="menu_mobile_desplegado">
            <li style="background-color:#5f5f5f;">
                <a href="http://" target="_blank" rel="noopener noreferrer">Rutina</a>
            </li>
            <li style="background-color:#5f5f5f;">
                <a href="http://" target="_blank" rel="noopener noreferrer">Analíticos</a>
            </li>
            <li style="background-color:#5f5f5f;">
                <a href="http://" target="_blank" rel="noopener noreferrer">Calendario</a>
            </li>
            <li style="background-color:#5f5f5f;">
                <a href="http://" target="_blank" rel="noopener noreferrer">Perfil</a>
            </li>
            <li style="background-color:#5f5f5f;">
                <a href="http://" target="_blank" rel="noopener noreferrer">Información</a>
            </li>
            <li style="background-color:red;">
                <a href="http://" target="_blank" rel="noopener noreferrer">Salir</a>
            </li>
        </ul>
    </div>

    <!-- Menu Cellphone END  -->


    <!-- Menu desktop -->
    <div class="menuVertical d--flex">
        <div>
            <%= link_to image_tag("ImpactMentalityIcon-01", class: "sistema_left_icon", width: "60px" ), root_path %>
            <%= image_tag("MentalidadImpact-01", class: "sistema_descripcion_menu",  width: "120px" ) %>
        </div>
        <div class="seccion_menu_left">
            <%= image_tag("iconoLeftMenu-01", class: "burger_menu sistema_left_icon") %>
            <h3 class="sistema_descripcion_menu">Menú</h3>
        </div>
        <div class="seccion_menu_left">
            <%= link_to image_tag("iconoLeftMenu-02", class: "sistema_left_icon"), routines_path %>
            <h3 class="sistema_descripcion_menu">Rutina</h3>
        </div>
        <div class="seccion_menu_left">
            <%= image_tag("iconoLeftMenu-03", class: "sistema_left_icon") %>
            <h3 class="sistema_descripcion_menu">Analíticos</h3>
        </div>
        <div class="seccion_menu_left">
            <%= image_tag("iconoLeftMenu-04", class: "sistema_left_icon") %>
            <h3 class="sistema_descripcion_menu">Calendario</h3>
        </div>
        <div class="seccion_menu_left">
            <%= link_to image_tag("iconoLeftMenu-05", class: "sistema_left_icon"), profiles_path %>
            <h3 class="sistema_descripcion_menu">Perfil</h3>
        </div>
        <div class="seccion_menu_left">
            <%= link_to image_tag("iconoLeftMenu-06", class: "sistema_left_icon"), accounts_path %>
            <h3 class="sistema_descripcion_menu">Cuenta</h3>
        </div>
        <div  id="sistema_cerrarsesionalign">
            <%= link_to destroy_user_session_path, method: :delete, style: "color: white;" do %> 
                <div class="sistema_descripcion_menu" id="sistema_cerrarsesion">Cerrar sesión</div>
            <% end %>
        </div>
    </div>
    <!--  END MENU desktop -->
    <div class="sistema_container d-flex flex-column">
    <%= yield %>
    </div>
    <%= insert_paloma_hook %>
  </body>

  <script>
    $(document).ready(function(){
      Paloma.start();
    });
  </script>
</html>
