<!DOCTYPE html>
<html>
<head>
    <title>Mentalidad Impact</title>
    <%= csrf_meta_tags %>

    <!-- Include Tippy -->
    <script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>


    <!-- Lastest Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.conekta.io/js/latest/conekta.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->
    <%# <link rel="stylesheet" href="../css libraries/animate.css"> %>

    <!-- Latest compiled and minified CSS -->

    <!-- Typography -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->

    <!-- Lastest Icons Library -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.12/dist/sweetalert2.all.min.js"></script>
    <!-- Chart JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <!-- Metas -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= favicon_link_tag asset_path('favicon.png') %>
</head>


    <body class="body_sistema">

    <% if !@from_admin %>
        <!-- Menu Cellphone -->
        <div  class="sistema_mobile_menu">
            <!-- Just an image -->
            <nav class="animated slideInDown navbar">
            <%= image_tag("hamburger-icon", class: "burger_menu_mobile", width: "25px", height: "25px") %>
            <span  class="titulo_mobile_header"></span>
                <a class="navbar-brand" href="#">
                    <%= image_tag("ImpactMentalityIcon-01", style: "height: 30px; width:30px;" ) %>
                </a>
                
            </nav>
            <ul id="menu_mobile_desplegado">
                <% if current_user.user_information.user_type_id == 2 %>
                    <li style="background-color:#5f5f5f;">
                    <i class="iconos_mobile fas fa-clipboard-list"></i>
                        <%= link_to 'Jugadores', player_list_path, { rel: "noopener noreferrer"} %>
                    </li>
                <% end %>
                <li style="background-color:#5f5f5f;">
                <i class="iconos_mobile fas fa-dumbbell"></i>
                    <%= link_to 'Rutina', routines_path,{ rel: "noopener noreferrer"} %>
                </li>
                <li style="background-color:#5f5f5f;">
                <i class="iconos_mobile fas fa-chart-bar"></i>
                    <%= link_to 'Analíticos', dashboard_path, { rel: "noopener noreferrer"} %>
                </li>
                <li style="background-color:#5f5f5f;">
                <i class="iconos_mobile fas fa-user-circle"></i>
                    <%= link_to 'Perfil', profiles_path, { rel: "noopener noreferrer"} %>
                </li>
                <li style="background-color:#5f5f5f;">
                <i class="iconos_mobile fas fa-credit-card"></i>
                    <%= link_to 'Cuenta', accounts_path, { rel: "noopener noreferrer"} %>
                </li>
                
                <li style="background-color:#5f5f5f;">
                <i class="iconos_mobile fas fas fa-boxes"></i>
                    <%= link_to 'Planes', planes_path, { rel: "noopener noreferrer"} %>
                </li>

                <li style="background-color:#5f5f5f;">

                <i class="iconos_mobile fas fa-walking"></i>
                    <%= link_to 'Libreria de corridas', corridas_path, { rel: "noopener noreferrer"} %>
                </li>

                <li style="background-color:red;">
                <i class="iconos_mobile fas fa-sign-out-alt"></i>
                    <%= link_to 'Salir', destroy_user_session_path, { method: :delete, rel: "noopener noreferrer" } %>
                </li>

            </ul>
        </div>

        <!-- Menu Cellphone END  -->

        <!-- Menu desktop -->
        <div data-tippy="Dando clíc en el ícono de la derecha se desplegará el menú" class="menuVertical d--flex">
            <div>
                <%= link_to image_tag("ImpactMentalityIcon-01", class: "sistema_left_icon", width: "60px" ), dashboard_path %>
                <%= image_tag("MentalidadImpact-01", class: "sistema_descripcion_menu",  width: "120px" ) %>
            </div>
            <div title="Desplegar el menú" class="seccion_menu_left">
                <%= image_tag("iconoLeftMenu-01", class: "burger_menu sistema_left_icon") %>
                <h3 class="sistema_descripcion_menu">Menú</h3>
            </div>

                <!-- Menu desktop -->
            <% if current_user.user_information.user_type_id == 2 %>
                <%= link_to player_list_path do %>
                <div title="Aquí podrás tener acceso a tu equipos." class="seccion_menu_left">
                    <i style="padding-left:5px;" class="fas fa-clipboard-list"></i>
                    <h3 class="sistema_descripcion_menu">Lista de Jugadores</h3>
                </div>
                <% end %>
            <% end %>
            <%= link_to routines_path do %>
            <div title="Aquí podrás tener acceso a tu rutina de todos los días." class="seccion_menu_left">

                    <i class="sistema_left_icon fas fa-dumbbell"></i>

                <h3 class="sistema_descripcion_menu">Rutina</h3>
            </div>
            <% end %>

            <%= link_to dashboard_path do %>
                    <div title="Aquí podrás observar tus analíticos." class="seccion_menu_left">

                            <i class="sistema_left_icon fas fa-chart-bar"></i>

                        <h3 class="sistema_descripcion_menu">Analíticos</h3>
                    </div>
            <% end %>

            <%= link_to profiles_path do %>
                <div title="Aquí podrás tener acceso a tu perfil." class="seccion_menu_left">

                        <i class="sistema_left_icon fas fa-user-circle"></i>

                    <h3 class="sistema_descripcion_menu">Perfil</h3>
                </div>
            <% end %>

            <%= link_to accounts_path do %>
                <div title="Aquí podrás tener acceso a tu cuenta." class="seccion_menu_left">

                        <i class="sistema_left_icon fas fa-credit-card"></i>

                    <h3 class="sistema_descripcion_menu">Cuenta</h3>
                </div>
            <% end %>
            <%= link_to planes_path do %>
                <div title="Aquí podrás ver los planes de pago." class="seccion_menu_left">
                        <i class="sistema_left_icon fas fa-boxes"></i>
                    <h3 class="sistema_descripcion_menu">Planes</h3>
                </div>
            <% end %>

            <%= link_to corridas_path do %>
                <div title="Aquí podrás ver las corridas." class="seccion_menu_left">
                        <i style="padding-left:5px;" class="sistema_left_icon fas fa-walking"></i>
                    <h3 class="sistema_descripcion_menu">Corridas</h3>
                </div>
            <% end %>


            <div  id="sistema_cerrarsesionalign">
                <%= link_to destroy_user_session_path, method: :delete, style: "color: white;" do %>
                    <div class="sistema_descripcion_menu" id="sistema_cerrarsesion">Cerrar sesión</div>
                <% end %>
            </div>
        </div>
        <!--  END MENU desktop -->
    <% end %>
    <div class="sistema_container d-flex flex-column">
    <% if flash[:error] %>
    <p id="flash_error"style="display: none !important;"><%= flash[:error] %></p>
    <% end %>
    <%= yield %>
    </div>
    <%= insert_paloma_hook %>
</body>

<script>
    $(document).ready(function(){
        Paloma.start();
    });

</script>
</html>
